**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.env.*
!**/.env.example
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/client_secret.json
**/chrome.exe
**/chromedriver.exe
**/saved_for_diff.txt
**/*.pyc
**/*.pyo
**/*.log
LICENSE
README.md
